# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment
venv/
env/

# Ignore database files
*.sqlite3

# Ignore environment variables
.env

# Ignore VS Code settings
.vscode/
