{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Profile{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-light">
                <h3 class="card-title mb-0">User Profile</h3>
            </div>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            {{ u_form|crispy }}
                        </div>
                        <div class="col-md-6">
                            {{ p_form|crispy }}
                        </div>
                    </div>
                    <div class="form-group mt-4">
                        <button class="btn btn-primary w-100" type="submit">Update Profile</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}