{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}{% if object %}Update{% else %}Create{% endif %} Task{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{% if object %}Update{% else %}Create{% endif %} Task</h1>
</div>

<div class="row">
    <div class="col-md-8">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-group mt-4">
                <button type="submit" class="btn btn-primary">
                    {% if object %}Update{% else %}Create{% endif %} Task
                </button>
                <a href="{% if object %}{% url 'task-detail' object.id %}{% else %}{% url 'task-list' %}{% endif %}" 
                   class="btn btn-secondary">
                    Cancel
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}